#
# pin constraints
#
# NET GPIO_SW_TRI_IO LOC = "G19"  |  IOSTANDARD = "LVCMOS25";
# NET LEDs_4Bits_TRI_IO[0] LOC = "P17"  |  IOSTANDARD = "LVCMOS25";
# NET LEDs_4Bits_TRI_IO[1] LOC = "P18"  |  IOSTANDARD = "LVCMOS25";
# NET LEDs_4Bits_TRI_IO[2] LOC = "W10"  |  IOSTANDARD = "LVCMOS25";
# NET LEDs_4Bits_TRI_IO[3] LOC = "V7"  |  IOSTANDARD = "LVCMOS25";
# NET bcl_core_hw_led_pin<0> LOC = "E15"  |  IOSTANDARD = "LVCMOS25";
# NET bcl_core_hw_led_pin<1> LOC = "D15"  |  IOSTANDARD = "LVCMOS25";
# NET bcl_core_hw_led_pin<2> LOC = "W17"  |  IOSTANDARD = "LVCMOS25";
# NET bcl_core_hw_led_pin<3> LOC = "W5"  |  IOSTANDARD = "LVCMOS25";
 
NET "hdmi_clk_pin" LOC = L16;
NET "hdmi_clk_pin" IOSTANDARD = LVCMOS25;
NET "hdmi_vsync_pin" LOC = H15;
NET "hdmi_vsync_pin" IOSTANDARD = LVCMOS25;
NET "hdmi_hsync_pin" LOC = R18;
NET "hdmi_hsync_pin" IOSTANDARD = LVCMOS25;
NET "hdmi_de_pin" LOC = T18;
NET "hdmi_de_pin" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[0]" LOC = AB21;
NET "hdmi_data_pin[0]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[1]" LOC = AA21;
NET "hdmi_data_pin[1]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[2]" LOC = AB22;
NET "hdmi_data_pin[2]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[3]" LOC = AA22;
NET "hdmi_data_pin[3]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[4]" LOC = V19;
NET "hdmi_data_pin[4]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[5]" LOC = V18;
NET "hdmi_data_pin[5]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[6]" LOC = V20;
NET "hdmi_data_pin[6]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[7]" LOC = U20;
NET "hdmi_data_pin[7]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[8]" LOC = W21;
NET "hdmi_data_pin[8]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[9]" LOC = W20;
NET "hdmi_data_pin[9]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[10]" LOC = W18;
NET "hdmi_data_pin[10]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[11]" LOC = T19;
NET "hdmi_data_pin[11]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[12]" LOC = U19;
NET "hdmi_data_pin[12]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[13]" LOC = R19;
NET "hdmi_data_pin[13]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[14]" LOC = T17;
NET "hdmi_data_pin[14]" IOSTANDARD = LVCMOS25;
NET "hdmi_data_pin[15]" LOC = T16;
NET "hdmi_data_pin[15]" IOSTANDARD = LVCMOS25;
# NET hdmi_spdif_pin          LOC = R15 ;
# NET hdmi_int_pin            LOC = U14 ;
#
# additional constraints
#
# NET axi_gpio_0_GPIO_IO_pin[0]        LOC = AB21 | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[1]        LOC = AA21 | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[2]        LOC = AB22 | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[3]        LOC = AA22 | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[4]        LOC = V19  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[5]        LOC = V18  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[6]        LOC = V20  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[7]        LOC = U20  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[8]        LOC = W21  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[9]        LOC = W20  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[10]       LOC = W18  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[11]       LOC = T19  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[12]       LOC = U19  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[13]       LOC = R19  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[14]       LOC = T17  | IOSTANDARD = "LVCMOS25";
# NET axi_gpio_0_GPIO_IO_pin[15]       LOC = T16  | IOSTANDARD = "LVCMOS25";

NET "usr_clk_p_pin" LOC = Y9;
NET "usr_clk_p_pin" IOSTANDARD = LVDS_25;
NET "usr_clk_p_pin" DIFF_TERM = "TRUE";
NET "usr_clk_n_pin" LOC = Y8;
NET "usr_clk_n_pin" IOSTANDARD = LVDS_25;
NET "usr_clk_n_pin" DIFF_TERM = "TRUE";
NET "usr_clk_p_pin" TNM_NET = "usr_clk_p_pin";
TIMESPEC TS_usr_clk_p_pin = PERIOD "usr_clk_p_pin" 165 MHz;
NET "usr_clk_n_pin" TNM_NET = "usr_clk_n_pin";
TIMESPEC TS_usr_clk_n_pin = PERIOD "usr_clk_n_pin" 165 MHz;

NET "processing_system7_0/FCLK_CLK0" TNM_NET = "processing_system7_0/FCLK_CLK0";
TIMESPEC TS_FCLK0 = PERIOD "processing_system7_0/FCLK_CLK0" 100 MHz;

NET "xadc_gpio_0_pin" LOC = H17;
NET "xadc_gpio_0_pin" IOSTANDARD = LVCMOS25;
NET "xadc_gpio_1_pin" LOC = H22;
NET "xadc_gpio_1_pin" IOSTANDARD = LVCMOS25;
NET "xadc_gpio_2_pin" LOC = G22;
NET "xadc_gpio_2_pin" IOSTANDARD = LVCMOS25;
NET "xadc_gpio_3_pin" LOC = H18;
NET "xadc_gpio_3_pin" IOSTANDARD = LVCMOS25;


INST "hdmi_display_0" AREA_GROUP = "pblock_hdmi_display_0";
AREA_GROUP "pblock_hdmi_display_0" RANGE=SLICE_X28Y93:SLICE_X67Y149;
AREA_GROUP "pblock_hdmi_display_0" RANGE=DSP48_X2Y38:DSP48_X2Y59;
AREA_GROUP "pblock_hdmi_display_0" RANGE=RAMB18_X2Y38:RAMB18_X3Y59;
AREA_GROUP "pblock_hdmi_display_0" RANGE=RAMB36_X2Y19:RAMB36_X3Y29;
